[alias]
	st = status
	co = checkout
  ci = commit
	pr = pull --rebase
[user]
	name = Emily
	email =
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[merge]
	tool = opendiff
[push]
	default = current
[format]
  pretty = format:"%h %C(yellow)%ci%Creset %Cgreen%an%Creset | %s"
